Source: rock
Section: base
Priority: optional
Maintainer: Fredrik Bryntesson <fredrik.bryntesson@imint.se>
Version: 1.0-1
Package: rock
Architecture: any
Description: Compiler for OOC, Imint version.

Package: rock
Architecture: any
Description: Compiler for OOC, Imint version











